<ion-content>
  <ion-grid>
      <ion-row>
        <ion-col>
            <ion-icon name="arrow-round-back"></ion-icon>
        </ion-col>
        <ion-col align-self-center>
            <h2>Instiuto Tecnologio de Tepic</h2>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
              <img src="../assets/img/tec_tepic_cb.jpg" alt="Foto del UDs">
          </ion-col>
          <ion-col>
              <img src="../assets/img/tec_tepic_liia.jpg" alt="Foto del UDs">
          </ion-col>
          <ion-col>
              <img src="../assets/img/tec_tepic_ud.jpg" alt="Foto del UDs">
          </ion-col>
      
      </ion-row>
  </ion-grid>

  <ion-card>
      

  </ion-card>



</ion-content>
