<ion-header>
    <ion-toolbar>
      <ion-title>
        Informacion
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
<ion-content>
  <ion-grid>
      <ion-row>
        <ion-col>
            <ion-icon name="arrow-round-back" (click)="back()"></ion-icon>
        </ion-col>
        <ion-col>
            <ion-label position="floating" >{{nombre}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
              <img src="../assets/img/tec_tepic_cb.jpg" alt="Foto del UDs">
          </ion-col>
          <ion-col>
              <img src="../assets/img/tec_tepic_liia.jpg" alt="Foto del UDs">
          </ion-col>
          <ion-col>
              <img src="../assets/img/tec_tepic_ud.jpg" alt="Foto del UDs">
          </ion-col>
      </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
        <ion-col>
            <ion-card>
                <strong><h4>Nombre de la Insitucion: </h4></strong>
                <h5>{{nombre}}</h5> 
            </ion-card>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col>
            <ion-card>
                <strong><h4>Subsistema: </h4></strong>
                <h5>{{subsistema}}</h5> 
            </ion-card>
        </ion-col>
    </ion-row>

    <ion-row>
            <ion-col>
                <ion-card>
                    <strong><h4>Direccion: </h4></strong>
                    <h5>{{domicilio}}, {{localidad}}, {{municipio}}</h5> 
                </ion-card>
            </ion-col>
        </ion-row>

        <ion-row>
                <ion-col>
                    <ion-card>
                        <strong><h4>Correo: </h4></strong>
                        <h5>{{correo}}</h5> 
                    </ion-card>
                </ion-col>
            </ion-row>

            <ion-row>
                    <ion-col>
                        <ion-card>
                            <strong><h4>Telefono: </h4></strong>
                            <h5>{{telefono}}</h5> 
                        </ion-card>
                    </ion-col>
                </ion-row>


                <ion-row>
                    <ion-col>
                        <ion-card>
                            <strong><h4>Activo: </h4></strong>
                                <h5>{{status}}</h5> 
                        </ion-card>
                    </ion-col>
                </ion-row>

  </ion-grid>
  
      



</ion-content>
