<ion-header>
    <ion-toolbar>
          <ion-grid>
                  <ion-row>
                    <ion-col>
                        <ion-icon name="arrow-back" (click)="cancelar()"></ion-icon>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                      <ion-col class="centrar font">
                          <ion-label position="floating" class="tam-titulo">Acerca de la aplicación</ion-label>
                    </ion-col>
                  </ion-row> 
      <!----  <ion-col>
            <ion-icon name="arrow-back" (click)="cancelar()"></ion-icon>
            <ion-title>Acerca de la aplicación</ion-title>
        </ion-col>
      <ion-buttons start>
            <button ion-botton icon-only (click)="Salir()">
                <ion-icon name="arrow-round-back"></ion-icon>
            </button>
        </ion-buttons>-->
        </ion-grid>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
      <img src="assets/img/sep.jpg">
      <br/>
      <br/>
      <ion-grid>
          <ion-row>
              <ion-col class="centrar font">
                      <ion-label class=" tam-info-titulo">Mi escuela</ion-label>
              </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="justificar font">
              <ion-label class="tam-texto"> 
                  Aqui se mostrará un poco de informacion sobre la app y sobre como se certifica una escuela.
              </ion-label> 
            </ion-col>
        </ion-row>
        <hr/>
          <ion-row>
              <ion-col class="centrar font">
                      <ion-label class="tam-info-titulo">¿Cuál es el proceso para la certificación de una escuela?</ion-label>
              </ion-col>
          </ion-row>
          <ion-row>
              <ion-col class="justificar fint">
                <ion-label class="tam-texto"> 
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint quia mollitia ex soluta dolores veniam exercitationem reprehenderit deserunt adipisci, porro, assumenda voluptatum qui delectus, corrupti tempore fuga dicta neque explicabo.
                </ion-label>
              </ion-col>
          </ion-row>
          <hr/>
          <ion-row>
              <ion-col class="centrar font">
                      <ion-label class="tam-info-titulo">Contacto</ion-label>
                      
                </ion-col>
          </ion-row>
          <ion-row>
              <ion-col class="justificar font">
                <ion-label class="tam-texto"> 
                    Correo: correo@semssicyt.com
                </ion-label>
                <ion-label class="tam-texto"> 
                    Teléfono: 311 111 11 11
                </ion-label>
              </ion-col>
          </ion-row>
          <br/>
      </ion-grid>
  
  </ion-content>
  <!--<ion-button (click)="Salir()" color="primary" expand="block" fill="solid" slot="fixed">Salir</ion-button>-->