<ion-header>
  <ion-toolbar>
    <ion-title>modal_filtros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <br>

  <ion-grid>
      <ion-label>PRIMARIA</ion-label>
      <ion-checkbox color="primary" checked="true"></ion-checkbox>
  </ion-grid>
  <ion-grid>
      <ion-label>ESCUELAS MEDIA SUPERIOR</ion-label>
      <ion-checkbox color="primary" checked="true"></ion-checkbox>
  </ion-grid>
  <ion-grid>
      <ion-label>ESCUELAS SUPERIOR</ion-label>
      <ion-checkbox color="primary" checked="true"></ion-checkbox>
  </ion-grid>
  <br>
</ion-content>
<ion-button (click)="Salir()" color="primary" expand="block" fill="solid" slot="fixed" >Aceptar</ion-button>
