<ion-header>
  <ion-toolbar>
    <ion-title>modal_filtros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <br>

  <ion-grid>
      <ion-label>ESCUELAS MEDIA</ion-label>
      <ion-checkbox color="primary" [(ngModel)]="media"></ion-checkbox>
  </ion-grid>
  <ion-grid>
      <ion-label>ESCUELAS MEDIA SUPERIOR</ion-label>
      <ion-checkbox color="primary" [(ngModel)]="mediasuperior"></ion-checkbox>
  </ion-grid>
  <ion-grid>
      <ion-label>ESCUELAS SUPERIOR</ion-label>
      <ion-checkbox color="primary" [(ngModel)]="superior"></ion-checkbox>
  </ion-grid>
  <br>
  <ion-grid>
    <ion-label>ESCUELAS PUBLICAS</ion-label>
    <ion-checkbox color="primary" [(ngModel)]="publica"></ion-checkbox>
</ion-grid>
<ion-grid>
  <ion-label>ESCUELAS PRIVADAS</ion-label>
  <ion-checkbox color="primary" [(ngModel)]="privada"></ion-checkbox>
</ion-grid>
</ion-content>
<ion-button (click)="Salir()" color="primary" expand="block" fill="solid" slot="fixed" >Aceptar</ion-button>
