<ion-header>
  <ion-toolbar>
    <ion-title class="centrar font">Filtrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <br>
  <!--los ngModel ligan las propiedades en modal-filtros.page.ts con el mismo nombre a el checkbox-->
  <ion-grid>
      <ion-label class="font">ESCUELAS MEDIA SUPERIOR</ion-label>
      <ion-checkbox color="primary" [(ngModel)]="mediasuperior"></ion-checkbox> 
  </ion-grid>
  <ion-grid>
      <ion-label class="font">ESCUELAS SUPERIOR</ion-label>
      <ion-checkbox color="primary" [(ngModel)]="superior"></ion-checkbox>
  </ion-grid>
  <br>
  <ion-grid>
    <ion-label class="font">ESCUELAS PUBLICAS</ion-label>
    <ion-checkbox color="primary" [(ngModel)]="publica"></ion-checkbox>
</ion-grid>
<ion-grid>
  <ion-label class="font">ESCUELAS PRIVADAS</ion-label>
  <ion-checkbox color="primary" [(ngModel)]="privada"></ion-checkbox>
</ion-grid>
</ion-content>
<ion-button (click)="Salir()" color="primary" expand="block" fill="solid" slot="fixed">Aceptar</ion-button>
