@font-face{
    font-family:'Roboto';
    src: url('/src/assets/fonts/roboto.woff2') format('woff2');
}

.font{
    font-family: 'Roboto', sans-serif;
    color:#373737;
}
.centrar{
    text-align: center;
}