<ion-header>
  <ion-toolbar>
    <ion-searchbar type="text" 
                   placeholder="Buscar institución..."
                   (ionInput)="getItems($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header> 

<ion-content>
  <ion-list *ngIf="isItemAvailable"><!--pregunta si la variable de control es verdadera para llenar la lista-->
    <ion-item (click)="info(item.id)" *ngFor="let item of list"><!--se realiza un ciclo para llenar la lista-->
      {{item.nombre}}
    </ion-item>
  </ion-list>
</ion-content>
<ion-button (click)="cancelar()" color="primary" expand="block" fill="solid" slot="fixed">Cancelar</ion-button>